.book-page {
  margin: 100px;
  width: 100%;

  &__content {
    display: flex;

    align-items: flex-start;

    &__img {
      margin-right: 30px;
      display: block;
      object-fit: cover;
      width: 400px;
      height: 550px;
    }
    &__btn {
      cursor: pointer;
      border-radius: 15px;

      border: 2px solid #f66e5e;
      margin-top: 30px;
      font-size: 1.2em;
    }

    &__btn:hover &__icon,
    &__btn:hover {
      color: #333;
    }

    &__icon {
      color: #f66e5e;
    }

    &__info {
      &__text {
        font-size: 1.2em;
        margin: 0;
      }
    }
  }
}

.alert {
  margin-top: 30px;
}
