.header {
  padding: 10px 100px;

  display: flex;

  align-items: center;
  justify-content: space-between;
  transition: 0.33s;
  background-color: #fff;
  top: 0;
  width: 100%;
  z-index: 1000;
  position: fixed;
  box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 3%);
}
