.form {
  .form__input {
    margin: 10px 0 5px 0;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    border: 1px solid #ddd;
    font-size: 1em;
  }
  .error-msg {
    margin-top: 10px;
    color: red;
  }
  .input-error {
    border-color: red;
  }

  .btn {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: #3498db;
    cursor: pointer;
  }
}
