@import "@/assets/styles/bookPage.scss";
@import "@/assets/styles/buttons.scss";
@import "@/assets/styles/loginForm.scss";
@import "@/assets/styles/userPage.scss";
@import "@/assets/styles/bookList.scss";
@import "@/assets/styles/header.scss";
@import "@/assets/styles/books.scss";
@import "@/assets/styles/admin-book-page.scss";
@import "@/assets/styles/reviews.scss";
@import "@/assets/styles/app.scss";
@import "@/assets/styles/form.scss";
@import "@/assets/styles/admin-reserved-books.scss";

// @import "@/assets/styles/top-of-page.scss";

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,300&display=swap");

$font-family-sans-serif: BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

$main-font-family: "Cormorant Garamond", sans-serif;

$dark: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", sans-serif;
  color: $dark;
}

html,
body,
#app,
.app {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  letter-spacing: 0em;

  font-variant-ligatures: no-common-ligatures;
  overflow-x: hidden;
  word-wrap: break-word;
  font-family: "Cormorant Garamond", sans-serif;
  // background-color: #fafafa;
}

.links {
  text-decoration: none;
  color: $dark;
}

.app-text {
  font-family: $main-font-family !important;
}

.btns,
.select,
.input {
  margin-top: 10px;
}

.btns {
  text-align: right;
}

.router-link {
  color: #333;
  text-decoration: none;
  line-height: 1.8em;
  font-size: 1.3em;
}

.router-link:hover,
.arrow:hover {
  color: #f66e5e;
}

.admin-page {
  padding: 0 4%;
  padding-bottom: 100px;
}
.arrow {
  position: absolute;
  top: 15px;
  left: 5px;
  z-index: 9999;
  font-size: 2em;
  cursor: pointer;
}
.product-badge {
  width: 100px;
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}
.status-instock {
  background: #c8e6c9;
  color: #256029;
}

.status-outofstock {
  background: #ffcdd2;
  color: #c63737;
}

.status-lowstock {
  background: #feedaf;
  color: #8a5340;
}

.status-reserved {
  background-color: #c8e6c9;
  color: #256029;
}

.status-received {
  background-color: #feedaf;
  color: #8a5340;
}

.status-canceled {
  background-color: #ffcdd2;
  color: #c63737;
}

.p-highlight {
  background: #f8f9fa;
  color: #2196f3;
}

.p-dataview-header {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border: none !important;
  background: none !important;
}

.product-grid-item {
  margin-left: 0 !important;
}

.p-datatable-wrapper,
.p-treetable-wrapper {
  font-size: 1.1rem;
}

.form-demo {
  input {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 1.2rem;
  }
}

.woocommerce-product-details__short-description {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 26px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (min-width: 1025px) {
  .woocommerce-product-details__short-description {
    padding-right: 8%;
  }
}
.mkdf-woo-single-page
  .mkdf-single-product-summary
  .woocommerce-product-details__short-description
  p {
  margin: 0;
}

.p-link,
.p-inputtext {
  font-family: $main-font-family !important;
}

// .p-button-label:hover {
//   color: #c63737 !important;
// }

.not-returned-text {
  color: #d14031;
}

.reviews {
  display: table;
  border-top: 1px solid #e1e1e1;
  // border-bottom: 1px solid #e1e1e1;
  margin: 50px 0;
  padding: 37px 0 45px;
  width: 100%;
}

.chart-wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative !important;
}

.active-search-button {
  background-color: #f3f3f3 !important;
  border-color: #f3f3f3 !important;
}

.user-page__buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
