.user-page {
  padding: 10px 0;
  &__content {
    margin-top: 20px;
    padding: 30px;
    display: flex;
    &__img {
      margin-right: 20px;
      width: 300px !important;
      height: 350px;
      object-fit: cover;
    }
    &__title {
      margin: 0;
    }
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
