.book-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin: 50px 100px;
}

.book-card {
  &__img {
    object-fit: cover;
    height: 400px;
    max-width: 294px;
  }
  &__title {
    margin: 0;
    margin-top: 10px;
    font-size: 1.2em;
  }
  &__text {
  }
}
